name: Publish package

on:
  release:
    types: [created]

jobs:
  publish:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'
      - run: pnpm version ${{ github.event.release.tag_name }} --no-git-tag-version
      - run: pnpm install --frozen-lockfile
      - run: pnpm run package
      - run: pnpm publish --access public --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.PUBLIC_NPM_AUTH_TOKEN }}
